# Nestjs specific
/dist
/node_modules
/build
/out
/.next
/.vercel
/tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production
.env*.local

# temp directory
.temp
.tmp

# macOS metadata
.DS_Store

# TypeScript and test output
*.tsbuildinfo
playwright-report/
test-results/
coverage/
.vercel
